<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info Template</title>
    <script>alert("po prostu alert")</script>
    <style>
        body {
            background-color: lightblue;
        }
        p {
            color: coral;
        }
    </style>
</head>
<body>
    <h1>{{ question.question_text }}</h1>
    <p>To jest template dla details</p>
    <p>I opisuje wszystkie szczegóły odnośnie tego pytania</p>
    <a href="{% url 'polls:detail' question.id %}">Powrót do {{ question.question_text }}</a>
</body>
</html>